bin/
target/
/target/
/*/target/
/*/*/target/
*.swp
*.class
.project
/*/.project
.classpath
/*/.classpath
*/.classpath
*.classpath
*/.settings/**
.settings
*.tmp
*~
/sitewebapp/WebContent/META-INF/MANIFEST.MF
/webservicesapp/WebContent/META-INF/MANIFEST.MF
