/******** Upload and Download buttons ********/
.iconBtn.upload, .iconBtn.download {
	margin-bottom:15px;
}
.iconBtn.upload .icon, .iconBtn.download .icon {
	width:24px;
	background:url('../resources/img/icons.png') no-repeat -82px 0;
	position:relative;
}
.iconBtn.upload b, .iconBtn.download b {
	left:-8px;
}
/******** Upload button ********/
.iconBtn.upload {
	background-color:#6ea3fa;
	border:#6ea3fa;
	padding-right:20px;
}
/******** Download button ********/
.iconBtn.download .icon {
	background-position:-106px 0;
	top:-2px;
}
.iconBtn.download {
	background-color:#ac99c8;
	border:#ac99c8;
}

.uploadTable th {
	font-weight:normal;
}
.folderIcon {
	display:inline-block;
	width:24px;
	height:18px;
	background:url('../resources/img/icons.png') no-repeat -131px 1px;
	position:relative;
	top:4px;
}
.folderIcon.open {
	background:url('../resources/img/icons.png') no-repeat -157px 1px;
}
.fileIcon {
	display:inline-block;
	width:24px;
	height:18px;
	background:url('../resources/img/icons.png') no-repeat -178px 1px;
	position:relative;
	top:4px;
}
.uploadTable .folderRow, .uploadTable label, .uploadTable input {
	cursor:pointer;
}
.uploadTable tbody+tbody {
	margin:0;
	padding:0;
	border-top:0;
}
.uploadTable td input, .uploadTable td label {
	position:relative;
	top:3px;
}
.uploadTable .fileIcon, .uploadTable .folderIcon {
	position:relative;
	top:6px;
}
.tableHdr {
	background-color:#cdcdcd;
}
.subRow {
	display:none;
}
.rowColor {
	background-color:#eee;
}


/** override styles from page.css **/
.table tbody>tr>td {
	padding:0 8px;
	line-height:36px;
	vertical-align:middle;
	border-top:0;
}
.layout .mainRow td {
	padding:0 8px;
	vertical-align:middle;
}






