/******** Upload and Download buttons ********/
.iconBtn.upload, .iconBtn.download {
	margin-bottom:15px;
}
.iconBtn.upload .bg, .iconBtn.download .bg {
	background-color:#3278EA;
	width:32px;
}
.iconBtn.upload .icon, .iconBtn.download .icon {
	width:24px;
	background:url('../resources/img/icons.png') no-repeat -82px 0;
	position:relative;
}
/******** Upload button ********/
.iconBtn.upload {
	background-color:#6ea3fa;
	border:#6ea3fa;
	padding-right:25px;
}
.iconBtn.upload .bg {
	background-color:#3278EA;
}
/******** Download button ********/
.iconBtn.download .icon {
	background-position:-106px 0;
	top:-2px;
}
.iconBtn.download .bg {
	background-color:#7a54b3;
}
.iconBtn.download {
	background-color:#ac99c8;
	border:#ac99c8;
}

.uploadTable th {
	font-weight:normal;
}
.folderIcon {
	display:inline-block;
	width:24px;
	height:18px;
	background:url('../resources/img/icons.png') no-repeat -131px 1px;
	position:relative;
	top:4px;
}
.folderIcon.open {
	background:url('../resources/img/icons.png') no-repeat -157px 1px;
}
.fileIcon {
	display:inline-block;
	width:24px;
	height:18px;
	background:url('../resources/img/icons.png') no-repeat -178px 1px;
	position:relative;
	top:4px;
}













